{% extends 'base.html' %}

{% block contents %}
 <title>Home</title>
 <h1 style=" margin-top: 50px; text-align: center;">Welcome </h1>
 <h1 style=" margin-top: 50px; text-align: center;">It's your Daily TO-DO List </h1>
 <h2 class="bg-warning" style="margin-left: 250px; text-align: center; width: 60%; margin-top: 50px; ">Procrastination is like a credit card: it's a lot of fun until you get the bill. ...
    Know the true value of time; snatch, seize, and enjoy every moment of it. 
</h2>

 
    
      
{% endblock contents %}